Checks: >-
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -modernize-use-trailing-return-type,
  -modernize-use-designated-initializers,
  -bugprone-easily-swappable-parameters,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables
