Checks: >-
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -modernize-use-trailing-return-type,
  -bugprone-easily-swappable-parameters,
  -readability-implicit-bool-conversion,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-bounds-constant-array-index
