name: Release

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake ninja-build

      - name: Build
        run: |
          mkdir install

          cmake -G Ninja . -DCMAKE_BUILD_TYPE=Release -DCENTC_STATIC=ON \
            -DCMAKE_INSTALL_PREFIX=install

          cmake --build . --target install

      - name: Create archive and upload
        run: |
          tar -cJf cent-linux-x86_64.tar.xz -C install .
          gh release upload ${{ github.event.release.tag_name }} \
            cent-linux-x86_64.tar.xz
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
